// BASE STYLES
.content-block {
  a {
    color: $dark-blue;

    .icon {
      display: inline-block;
      svg {
        height: 0.7rem;
        width: 1.7rem;
      }
    }

    .article-title {
      margin-top: 0.2em;
    }

    .label {
      color: $aqua;
      text-transform: uppercase;
    }

    &.column-block {
      border-right: solid 1px $aqua;
      &:last-of-type {
        border: none;
      }
    }

    &:hover {
      color: $pink;
      transition: all 0.2s ease;

      .image-overlay {
        display: block;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        transition: all 0.2s ease;
      }
    }
  }
}

// VARIATIONS ON CONTENT BLOCKS
.content-block--half-image,
.content-block--two-image,
.content-block--full-image,
.content-block--spotlight,
.content-block--gallery,
.content-block--thumb {
  @extend .content-block;
}

.content-block--half-image,
.content-block--two-image {
  .ratio-container,
  .ratio-container-text {
    @include aspect-ratio(4, 3, 0%);
  }
  .ratio-container-text {
    @include aspect-ratio(4, 1, 0%);
    @include breakpoint( medium ) {
      @include aspect-ratio(4, 2, 0%);
    }
    @include breakpoint( large ) {
      @include aspect-ratio(4, 3, 0%);
    }
    &:last-of-type {
      margin-top: 5%;
      @include breakpoint(large) {
        margin-top: 10%;
      }
    }
  }
}
.content-block--two-image {
  a {
    display: block;
    
    &:last-of-type {
      margin-top: 5%;
      @include breakpoint(large) {
        margin-top: 10%;
      }
    }
  }
}

.content-block--full-image {
  .ratio-container {
    @include aspect-ratio(4, 6, 5%);
    @include breakpoint( large ) {
      @include aspect-ratio(4, 6, 10%);
    }
  }
}
.content-block--gallery,
.content-block--full-image {
  a {
    position: relative;
    display: block;

    .text-overlay-wrapper {
      background-color: rgba(0,0,0,0);
      height: 100%;
      top: 0;
      position: absolute;
      width: 100%;
      transition: all 0.2s ease;

      .text-container {
        visibility: hidden;
        @include vertical-center();
        text-align: center;
        width: 100%;
        padding: 1rem;

        .icon {
          display: inline-block;
          margin-bottom: 0.3rem;

          g {
            fill: $white;
          }
        }
        span {
          color: $white;
          display: block;
          text-align: center;
        }
        h2 {
          color: $white;
          text-align: center;
          margin-top: 0;
        }
      }    
    }
  }

  &:hover {
    .text-overlay-wrapper {
      background-color: rgba(0,0,0,0.2);

      .text-container {
        visibility: visible;
      }
    }
  }
}
.content-block--spotlight {
  margin-bottom: 3rem;

  .icon {
    display: inline-block;
    svg {
      height: 0.7rem;
      width: 1.7rem;
    }
  }
  .article-title {
    margin-top: 0.2em;
  }

  .label {
    color: $aqua;
    text-transform: uppercase;
  }
  p, ul {
    margin-top: 0;
    margin-bottom: 2em;
  }
  p.large-label {
    margin-bottom: 0.5em;
  }
  a.cta {
    color: $pink;
    &:hover {
      color: $light-pink;
    }
  }

}

// OTHER BLOCKS
.content-block--thumb {
  a {
    .image-wrapper {
      position: relative;
    }
    p {
      color: $dark-blue;
    }

    &:hover {
      p {
        color: $pink;
      }
    }
  }
}
