// BASE STYLES
.content-block {
  .icon {
    display: inline-block;
    svg {
      height: 0.7rem;
      width: 1.7rem;
    }
  }

  .article-title {
    margin-top: 0.2em;
  }

  .label {
    color: $aqua;
    text-transform: uppercase;
  }

  &.column-block {
    border-right: solid 1px $aqua;
    &:last-of-type {
      border: none;
    }

    &:hover {
      color: $pink;
    }
  }
}

// VARIATIONS ON CONTENT BLOCKS
.content-block--half-image,
.content-block--two-image,
.content-block--full-image,
.content-block--spotlight,
.content-block--gallery {
  @extend .content-block;
}

.content-block--half-image,
.content-block--two-image {
  .ratio-container,
  .ratio-container-text {
    @include aspect-ratio(4, 3, 0%);

    &:last-of-type {
      margin-top: 5%;
      @include breakpoint(large) {
        margin-top: 10%;
      }
    }
  }
  .ratio-container-text {
    @include aspect-ratio(4, 1, 0%);
    @include breakpoint( medium ) {
      @include aspect-ratio(4, 2, 0%);
    }
    @include breakpoint( large ) {
      @include aspect-ratio(4, 3, 0%);
    }
  }
}

.content-block--full-image {
  .ratio-container {
    @include aspect-ratio(4, 6, 5%);
    @include breakpoint( large ) {
      @include aspect-ratio(4, 6, 10%);

    }
  }
}
.content-block--spotlight {
  margin-bottom: 3rem;

  p, ul {
    margin-top: 0;
    margin-bottom: 2em;
  }
  p.large-label {
    margin-bottom: 0.5em;
  }
}
.content-block--gallery {
  a {
    position: relative;
    display: block;

    .text-container {
      @include vertical-center();
      text-align: center;
      width: 100%;

      .icon {
        display: inline-block;
      }
      span {
        display: block;
        text-align: center;
      }
      h2 {
        text-align: center;
      }
    }
    
  }
}

// OTHER BLOCKS
.thumb-block {
  a {
    p {
      color: $dark-blue;
    }

    &:hover {
      p {
        color: $pink;
      }
    }
  }
}
