.button {
  background-color: $pink;
  font-family: $body-font;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8em 1.4em;

  &:hover {
    background-color: $light-pink;
  }
  &.teenie-weenie {
    @extend .tiny;
    @extend .tiny-label;
    padding-bottom: 0.4em;
  }
  &.tiny {

  }
  &.small {

  }
  &.medium {
    
  }
  &.large {

  }
}