$global-width: rem-calc(1200);

// Colours
// $light-blue:;
$dark-blue: #2d2769;
$grey: #b5b3b3;
$pink: #ef707c;
$purple: #913b99;
$yellow: #fbda51;
$aqua: #29b2c3;
$light-aqua: #b9dbd3;
$lavender: #f0e9f4;
$orange: #f49732;