$global-width: rem-calc(1200);

// Colours
// $light-blue:;
$white: #fff;
$dark-blue: #2d2769;
$grey: #b5b3b3;
$pink: #ef707c;
$light-pink: #FFBDB9;
$purple: #913b99;
$yellow: #fbda51;
$aqua: #29b2c3;
$light-aqua: #b9dbd3;
$lavender: #c9a6ce;
$light-lavender: #f0e9f4;
$orange: #f49732;

$space-a: 1rem;
$space-b: 2rem;
$space-c: 4rem;
$space-d: 8rem;