#mobile-menu {
  background-color: $light-aqua;
  // height: 100vh;
  padding: 2.5rem 1rem 2rem;
  text-align: center;

  .social {
    margin-bottom: 2.5rem;

    a {
      display: inline-block;
      margin: 0 0.4rem;
    }

    a.icon svg {
      max-height: 1.5rem;
      max-width: 1.5rem;
    }

    svg {
      path#heart {
        stroke: $dark-blue;
      }
      path#twitter,
      path#facebook,
      g#instagram,
      g#search {
        fill: $dark-blue;
      }

      &:hover {
        path#heart {
          stroke: $grey;
          fill: $grey;
        }
        path#twitter,
        path#facebook,
        g#instagram,
        g#search {
          fill: $grey;
        }
      }
    }
  }
  .menu {
    margin-bottom: 2rem;
    padding-left: 0;

    li {
      position: relative; // needed for :after underline

      a {
        display: inline-block;
        position: relative;
        color: $dark-blue;
        padding: 0;
        text-transform: uppercase;
        margin: 1.6rem 1rem;

        &:hover {
          &:after {
            display: block;
            position: absolute;
            bottom: -0.4rem;
            left: 0%;
            width: 100%;
            height: 2px;
            background-color: $dark-blue;
            content: "";
            transition: all 0.2s ease-in;
            box-sizing: border-box;
          }
        }
      }
    }
  }
  .newsletter {
    display: inline-block;
    margin-bottom: 2rem;

    label {
      display: inline-block;
    }
    input[type="email"] {
      color: $white;
      display: inline-block;
      width: 150px;
      background-color: $white;
      height: 1.5em;
      margin-bottom: 0;
      margin-right: 0;

      &::placeholder {
        color: $light-aqua;
      }
    }
    a.button {
      background-color: $aqua;
      padding-bottom: 0;
      padding-top: 0.5em;
      height: 16px;
      display: inline-block;
      margin-bottom: -2px;
    }
  }
  button.close-button {
    font-size: 3rem;
    color: $dark-blue;
    font-weight: 300;
  }
}

header {
  .title-bar {
    height: 3rem;
    background-color: $white;
    position: relative;
    border-bottom: solid 1px lightgray;
    // margin-top: $space-a;

    .title-bar-title {
      @include vertical-center;
    }
    button.menu-icon {
      @include vertical-center;
      // background-color: #000;
      // margin-top: 0.15em;
      // float: right;
      right: 0.5rem;

      &::after {
        background-color: #000;
        // box-shadow: #000;
        box-shadow: 0 7px 0 black, 0 14px 0 black;
      }
    }
  }
  .top-bar {
    border-bottom: solid 1px $aqua;
    padding: 1rem 1rem 2rem;
    background-color: $white;

    @include breakpoint( small only ) {
      // position: absolute;
      // height: 100%;
      // width: 100%;
      // top: 0;
      // left: 0;
    }

    &#mc-menu-no-scroll {
      padding: 1rem;
    }
    .utility-nav {
      // margin-top: $space-a;
      margin-bottom: $space-a;

      .row {
        @include breakpoint( medium ) {
          // float: none;
          text-align: center;
        }
        @include breakpoint( xlarge ) {
          // float: right;
        }
      }
      
      .container {
        display: inline-block;
        float: right;

        @include breakpoint( medium ) {
          float: none;
          // text-align: center;
        }
        @include breakpoint( xlarge ) {
          float: right;
        }

        .newsletter {
          display: inline-block;

          label {
            display: inline-block;
          }
          input[type="email"] {
            color: $white;
            display: inline-block;
            width: 150px;
            background-color: $light-aqua;
            height: 1.5em;
            margin-bottom: 0;
            margin-right: 0;

            &::placeholder {
              color: $white;
            }
          }
          a.button {
            background-color: $aqua;
            padding-bottom: 0;
            padding-top: 0.5em;
            height: 16px;
            display: inline-block;
            margin-bottom: -2px;
          }
        }
        .social {
          display: inline-block;
          margin-left: 2rem;

          a {
            display: inline-block;
            text-align: center;
          }
          .icon svg {
            max-height: 1rem;
            max-width: 1.1rem;
            margin-bottom: -0.4rem;
          }
        }
        
      }
    }
    .main-nav {
      .row {
        // position: relative;
        .top-bar-left {
          @include breakpoint( medium ) {
            text-align: center;
            margin-bottom: 1rem;
            margin-top: $space-a;
          }
          @include breakpoint( xlarge ) {
            text-align: left;
            margin-bottom: 0;
            margin-top: 0;
          }


        }
        .top-bar-right {
          // position: relative;

          @include breakpoint(medium) {
            // display: block;
            // width: 100%;
            text-align: center;
          }
          @include breakpoint(xlarge) {
            // position: relative;
            // display: block;
            // width: 100%;
            text-align: left;
          }

          ul.menu {
            // @include vertical-center;
            background-color: $white;
            margin-top: 0.2em;
            // right: 0;
            right: 0.5rem;

            @include breakpoint(medium) {
              display: inline-block;
              padding-left: 0;
            }

            li {
              margin: 0.7rem 1rem;
              position: relative; // needed for :after underline

              a{
                color: $dark-blue;
                padding: 0;
                text-transform: uppercase;

                &:hover {
                  &:after {
                    display: block;
                    position: absolute;
                    bottom: -0.4rem;
                    left: 0%;
                    width: 100%;
                    height: 2px;
                    background-color: $dark-blue;
                    content: "";
                    transition: all 0.2s ease-in;
                    box-sizing: border-box;
                  }
                }
              }

              @include breakpoint( xlarge ) {
                margin: 0.7rem 0rem 0.7rem 2rem;
              }
            }
          }
        }
        
      }
    }
  }
}