header {
  .utility-nav {
    margin-top: 1rem;
    
    .container {
      display: inline-block;
      float: right;

      .newsletter {
        display: inline-block;

        label {
          display: inline-block;
        }
        input[type="email"] {
          color: $white;
          display: inline-block;
          width: 150px;
          background-color: $light-aqua;
          height: 1.5em;
          margin-bottom: 0;

          &::placeholder {
            color: $white;
          }
        }
        a.button {
          background-color: $aqua;
          padding-bottom: 0;
          padding-top: 0.5em;
          height: 16px;
          display: inline-block;
          margin-bottom: -2px;
        }
      }
      .social {
        display: inline-block;
        margin-left: 2rem;

        img {
          margin-bottom: -2px;
        }
      }
      
    }
  }
  .main-nav {
    border-bottom: solid 1px $aqua;
    padding: 1rem;
    
    .top-bar {
      background-color: $white;
      position: relative;

      .top-bar-right {
        right: 0;
      }
      ul {
        @include vertical-center;
        background-color: $white;
        li {
          margin: 0.7rem 1rem;
          position: relative; // needed for :after underline

          a{
            color: $dark-blue;
            padding: 0;
            text-transform: uppercase;

            &:hover {
              &:after {
                display: block;
                position: absolute;
                bottom: -0.4rem;
                left: 0%;
                width: 100%;
                height: 2px;
                background-color: $dark-blue;
                content: "";
                transition: all 0.2s ease-in;
                box-sizing: border-box;
              }
            }
          }
        }
      }
    }
    .logo {
      // float: left;
    }
  }
}