.icon svg {
  max-height: 3rem;
  max-width: 3rem
}

g#news {
  fill: $aqua;
}

g#music {
  fill: $pink;
}

g#food {
  fill: $orange;
}

g#artists {
  fill: $purple;
}

g#events {
  fill: $dark-blue;
}

g#volunteers {
  fill: $aqua;
}

g#photobooth {
  fill: $yellow;
}