.icon svg {
  max-height: 3rem;
  max-width: 3rem
}
svg {
  path#heart {
    stroke: $aqua;
  }
  path#twitter,
  path#facebook,
  g#instagram,
  g#search {
    fill: $aqua;
  }

  &:hover {
    path#heart {
      stroke: $pink;
      fill: $pink;
    }
    path#twitter,
    path#facebook,
    g#instagram,
    g#search {
      fill: $pink;
    }
  }
}



g#news {
  fill: $aqua;
}

g#music {
  fill: $pink;
}

g#food {
  fill: $orange;
}

g#artists {
  fill: $purple;
}

g#events {
  fill: $dark-blue;
}

g#volunteers {
  fill: $aqua;
}

g#photobooth {
  fill: $yellow;
}