// https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height, $h-gutter) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    // padding-top: ($height / $width) * 100%;
    $padding-top: ($height / $width) * 100%;
    // padding-top: $padding-top;
    // padding-top: calc(#{$padding-top} + 25%);
    // padding-top: calc(#{$padding-top} + 20px);
    padding-top: calc(#{$padding-top} + #{$h-gutter});
    // padding-top: -webkit-calc(#{$padding-top} + 25%);
    // padding-top: -webkit-calc(#{$padding-top} + 20px);
    padding-top: -webkit-calc(#{$padding-top} + #{$h-gutter});
  }
  > .ratio-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; // I'm not convinced yet this is the way to go
  }
}

// @mixin image-overlay {
//   // Add 'wrapper' class around image
//   .wrapper {
//     background-color: rgba(0,0,0,0.2);
//     display: none;
//     height: 100%;
//     top: 0;
//     position: absolute;
//     width: 100%;
//     transition: all 0.2s;
//   }
//   &:hover {
//     .wrapper {
//       display: block;
//     }
//   }
// }