.style-guide {

  h1.sg, h2.sg {
    color: #000;
    font-family: $body-font;
  }
  h1.sg {
    font-size: 2rem;
    text-align: center;
    font-family: $body-font;
  }

  h2.sg {
    font-weight: 700;
    font-size: 1.25rem;
    border-bottom: solid 1px lightgrey;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
  }

  p.sg {
    color: #000;
    font-family: $body-font;
    font-size: 1rem;
  }

  section.colours {
    ul.swatches {
      padding-left: 0;

      li {
        list-style: none;
        text-align: center;

        .swatch {
          height: 100px;
          width: 100px;
          margin: 0 auto;
        }
      }
    }

    li[data-colour="dark-blue"] { .swatch { background-color: $dark-blue; }}
    li[data-colour="grey"] { .swatch { background-color: $grey; }}
    li[data-colour="pink"] { .swatch { background-color: $pink; }}
    li[data-colour="light-pink"] { .swatch { background-color: $light-pink; }}
    li[data-colour="purple"] { .swatch { background-color: $purple; }}
    li[data-colour="yellow"] { .swatch { background-color: $yellow; }}
    li[data-colour="aqua"] { .swatch { background-color: $aqua; }}
    li[data-colour="light-aqua"] { .swatch { background-color: $light-aqua; }}
    li[data-colour="lavender"] { .swatch { background-color: $lavender; }}
    li[data-colour="light-lavender"] { .swatch { background-color: $light-lavender; }}
    li[data-colour="orange"] { .swatch { background-color: $orange; }}
  }

  section.typography {
    .body-container {
      width: 520px;
    }
    // p {
    //   width: 520;
    // }
  }  
}

