.style-guide {
  padding-top: 4rem;

  h1.sg, h2.sg {
    color: #000;
    font-family: $body-font;
  }
  h1.sg {
    font-size: 2rem;
    text-align: center;
    font-family: $body-font;
    margin-bottom: 0.2rem;
  }

  h2.sg {
    font-weight: 700;
    font-size: 1.25rem;
    border-bottom: solid 1px lightgrey;
    margin-bottom: 3rem;
    padding-bottom: 1rem;

    &.no-line {
      border: none;
      padding-bottom: 0;
      margin-bottom: 2rem;
    }
  }
  h3.sg {
    font-weight: 700;
    font-size: 1rem;
  }

  p.sg {
    color: #000;
    font-family: $body-font;
    font-size: 1rem;
  }

  p.sg.subtitle {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0;
  }

  section {
    padding: 3rem 1rem;
  }

  section.headers {
    // padding-top: 0rem;
    padding: 0rem 0rem 3rem;

    h2.sg.no-line {
      margin-top: 6rem;
      margin-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    header {
      border-top: solid 1px lightgrey;
    }

    p {
      color: grey;
      text-align: center;
    }
  }

  section.colours {
    ul.swatches {
      padding-left: 0;

      li {
        list-style: none;
        text-align: center;

        .swatch {
          height: 100px;
          width: 100px;
          margin: 0 auto;
        }
      }
    }

    li[data-colour="dark-blue"] { .swatch { background-color: $dark-blue; }}
    li[data-colour="grey"] { .swatch { background-color: $grey; }}
    li[data-colour="pink"] { .swatch { background-color: $pink; }}
    li[data-colour="light-pink"] { .swatch { background-color: $light-pink; }}
    li[data-colour="purple"] { .swatch { background-color: $purple; }}
    li[data-colour="yellow"] { .swatch { background-color: $yellow; }}
    li[data-colour="aqua"] { .swatch { background-color: $aqua; }}
    li[data-colour="light-aqua"] { .swatch { background-color: $light-aqua; }}
    li[data-colour="lavender"] { .swatch { background-color: $lavender; }}
    li[data-colour="light-lavender"] { .swatch { background-color: $light-lavender; }}
    li[data-colour="orange"] { .swatch { background-color: $orange; }}
  }

  section.icons {
    ul {
      padding-left: 0;
      li.icon {
        text-align: center;
      }
    }
  }

  section.typography {
    .body-container {
      max-width: 520px;

      ul.labels {
        list-style-type: none;
        padding-left: 0;
      }
    }
  }  
  // TEST
}

