<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="style-guide">
    <h1 class="sg">MC Style Guide</h1>
    <section class="row colours">
      <h2 class="sg">Colours</h2>
      <ul class="row small-up-2 medium-up-4 large-up-8 swatches">
        <li class="column column-block" data-colour="dark-blue">
          <div class="swatch"></div>
          <p class="sg name">dark-blue</p>
          <p class="sg hex"></p>
          <p class="sg tag"></p>
        </li>
        <li class="column column-block" data-colour="grey">
          <div class="swatch"></div>
          <p class="sg name">grey</p>
          <p class="sg hex"></p>
          <p class="sg tag"></p>
        </li>
        <li class="column column-block" data-colour="pink">
          <div class="swatch"></div>
          <p class="sg name">pink</p>
          <p class="sg hex"></p>
          <p class="sg tag"></p>
        </li>
        <li class="column column-block" data-colour="light-pink">
          <div class="swatch"></div>
          <p class="sg name">light-pink</p>
          <p class="sg hex"></p>
          <p class="sg tag"></p>
        </li>
        <li class="column column-block" data-colour="purple">
          <div class="swatch"></div>
          <p class="sg name">purple</p>
          <p class="sg hex"></p>
          <p class="sg tag"></p>
        </li>
        <li class="column column-block" data-colour="yellow">
          <div class="swatch"></div>
          <p class="sg name">yellow</p>
          <p class="sg hex"></p>
          <p class="sg tag"></p>
        </li>
        <li class="column column-block" data-colour="aqua">
          <div class="swatch"></div>
          <p class="sg name">aqua</p>
          <p class="sg hex"></p>
          <p class="sg tag"></p>
        </li>
        <li class="column column-block" data-colour="light-aqua">
          <div class="swatch"></div>
          <p class="sg name">light-aqua</p>
          <p class="sg hex"></p>
          <p class="sg tag"></p>
        </li>
        <li class="column column-block" data-colour="lavender">
          <div class="swatch"></div>
          <p class="sg name">lavender</p>
          <p class="sg hex"></p>
          <p class="sg tag"></p>
        </li>
        <li class="column column-block" data-colour="light-lavender">
          <div class="swatch"></div>
          <p class="sg name">light-lavender</p>
          <p class="sg hex"></p>
          <p class="sg tag"></p>
        </li>
        <li class="column column-block" data-colour="orange">
          <div class="swatch"></div>
          <p class="sg name">orange</p>
          <p class="sg hex"></p>
          <p class="sg tag"></p>
        </li>
      </ul>
    </section>
    <section class="row typography">
      <h2 class="sg">Typography</h2>
      <div class="body-container">
        <h1 class="section-title">Section Title</h1>
        <h2 class="article-title">Article Title</h2>
        <h3 class="block-title">Block Title</h3>
        <p class="tag">Tags, colour to be determined based on cateory/icon <a href="#">Tag type on hover</a></p>
        <p>
          Body copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus sollicitudin sem, a <a href="#">scelerisque</a> mi consectetur et. Vivamus ac arcu ut <a href="#">erat</a> egestas sagittis ut et ex. Phasellus porta sem
        </p>
      </div>
      <p class="intro-text">
        Intro text style type. Always centered.
      </p>
    </section>
  </body>
</html>