<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1>Style-guide Template</h1>
    <section class="colours">
      <h2>Colours</h2>
      <ul class="swatches">
        <li>
          <div class="swatch"></div>
          <p class="name">Light Blue</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li>
          <div class="swatch"></div>
          <p class="name">Dark Blue</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li>
          <div class="swatch"></div>
          <p class="name">Grey</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li>
          <div class="swatch"></div>
          <p class="name">Pink</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li>
          <div class="swatch">Purple</div>
          <p class="name"></p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li>
          <div class="swatch"></div>
          <p class="name">Yellow</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li>
          <div class="swatch"></div>
          <p class="name">Aqua</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li>
          <div class="swatch"></div>
          <p class="name">Orange</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
      </ul>
    </section>
    test
  </body>
</html>