<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1>Style-guide Template</h1>
    <section class="row colours">
      <h2>Colours</h2>
      <ul class="row small-up-2 medium-up-4 large-up-8 swatches">
        <li class="column column-block" data-colour="dark-blue">
          <div class="swatch"></div>
          <p class="name">dark-blue</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li class="column column-block" data-colour="grey">
          <div class="swatch"></div>
          <p class="name">grey</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li class="column column-block" data-colour="pink">
          <div class="swatch"></div>
          <p class="name">pink</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li class="column column-block" data-colour="purple">
          <div class="swatch"></div>
          <p class="name">purple</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li class="column column-block" data-colour="yellow">
          <div class="swatch"></div>
          <p class="name">yellow</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li class="column column-block" data-colour="aqua">
          <div class="swatch"></div>
          <p class="name">aqua</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li class="column column-block" data-colour="light-aqua">
          <div class="swatch"></div>
          <p class="name">light-aqua</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li class="column column-block" data-colour="lavender">
          <div class="swatch"></div>
          <p class="name">lavender</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
        <li class="column column-block" data-colour="orange">
          <div class="swatch"></div>
          <p class="name">orange</p>
          <p class="hex"></p>
          <p class="tag"></p>
        </li>
      </ul>
    </section>
    test
  </body>
</html>